@using Universal.BusinessEntities;
@model Employees
   <link href="../../Scripts/CSS/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
<form id="frgetpswd">

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 " style="border-radius:3px; padding-left:0px;">
@Html.TextBoxFor(Model => Model.Employee_ID, new { @class = "login-input form-control", @id = "txtUserId1", @placeholder = "Employee ID", @Title = "Employee ID" })</div>
     
       

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 frt-pass-button">
          @* <button type="submit" class="md-trigger" id="btnpswd" name="btnFpwd" value="Forgot Password">Forgot Password</button>*@
       <a class="md-trigger" id="btnpswd" name="btnFpwd" value="Forgot Password">Forgot Password</a></div>
       </div>
       <div style=" width:100%; float:left">
          @Html.ValidationMessageFor(Model => Model.Employee_ID)
          </div>

          <div id="forgotloading" runat="server" style="text-align: center; padding: 30px; display:none; height:100%; width:100%; z-index:10000; position:fixed; top:20%; left:5%;"> <img alt="loading" src="../../Content/Images/loading.gif" height="300" width="300" /></div>

          

               <div class="clearfix">
                </div>
     
<label id="lblresult" class="labelalert"></label>

   <div class="clearfix">
                </div>
    </form>

   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-migrate")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

     <!--[if lt IE 10]>
<script src="../../Scripts/jquery.placeholder.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            // Invoke the plugin
           
            $('#txtUserId1').placeholder({ customClass: 'my-placeholder' });
            // That’s it, really.

          
        });
		</script>
        <![endif]-->

<script type="text/javascript">

    $(document).ready(function () {
        $(".md-overlay").click(function () {
            $('#txtUserId1').val('');
            $('#txtUserId1-error').empty();
            $('#lblresult').empty();

        });
        $("#btnpswd").click(function (e) {
            e.preventDefault();

            $("#forgotloading").show();


            var valid = $("#frgetpswd").valid();

            if (valid) {
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '/Home/ForgotPassword',
                    data: $("#frgetpswd").serialize(),
                    dataType: 'json',
                    success: function (data) {

                        
                        
                        $("#forgotloading").hide();
                        $('#lblresult').val('');


                        if (data.Text == "Incorrect Employee Id") {
                          
                            $('#lblresult').addClass('alert alert-warning');
                            $('#lblresult').text(data.Text);

                            setTimeout(function () {

                               // $("#modal-16").fadeOut();
                               // $(".md-overlay").fadeOut();
                                $('#lblresult').empty();
                                $('#txtUserId1').val('');
                                $('#txtUserId1-error').empty();
                                $('#lblresult').removeClass('alert alert-warning');

                            }, 4000);
                        }
                        else {
                            $('#lblresult').addClass('alert alert-success');
                            $('#lblresult').text(data.Text);
                           
                                                    setTimeout(function () {

                                                        $("#modal-16").fadeOut();
                                                        $(".md-overlay").fadeOut();
                                                        $('#lblresult').empty();
                                                        $('#txtUserId1').val('');
                                                        $('#txtUserId1-error').empty();

                                                    }, 9000);

                        }

                       



                       // $('#txtUserId1').val('');

                     


                    },
                    failure: function () {
                        alert("fail");
                    }

                });
            }
            else {

                $("#forgotloading").hide();
                return;


            }

        });
    });
</script>

            
                    

    
        

