@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Universal.BusinessEntities.Leave>
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Expenditure Report for Admin";
}
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 search-strip">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-2">
            <div class="controls">
                @if (ViewBag.ZonesList != null)
                {   
                    @Html.DropDownList("ddlZone", ViewBag.ZonesList as List<SelectListItem>, "All Zones", new { @class = "form-control", @id = "ddlZone", @placeholder = "Zone", @Title = "Zone" })
                }
            </div>
        </div>
        <div class="col-lg-2">
            <div class="controls">
                @if (ViewBag.EmployeesList != null)
                {   
                    @Html.DropDownList("ddlEmployee", ViewBag.EmployeesList as List<SelectListItem>, "All Employees", new { @class = "form-control", @id = "ddlEmployee", @placeholder = "Employee", @Title = "Employee" })
                }
            </div>
        </div>



        <div class="col-lg-2 dt-pik">
            <div class="input-append success date">
            @if (ViewBag.FromDate != null)
            {
                @Html.TextBox("FromDate", (string)(@ViewBag.FromDate), "{0:dd/MM/yyyy}", new { @placeholder = "From Date", @Title = "From Date" })
            }
            else
            {
                 @Html.TextBox("FromDate", "", "{0:dd/MM/yyyy}", new { @placeholder = "From Date", @Title = "From Date" })
            }
                
                <span class="add-on"><i class="fa fa-calendar"></i></span>
            </div>
        </div>


        <div class="col-lg-2 dt-pik ">
            <div class="input-append success date">

            @if (@ViewBag.ToDate != null)
            {
                @Html.TextBox("ToDate", (string)(@ViewBag.ToDate), "{0:dd/MM/yyyy}", new { @placeholder = "To Date", @Title = "To Date" })
            }
            else
            {
                @Html.TextBox("ToDate", "", "{0:dd/MM/yyyy}", new { @placeholder = "To Date", @Title = "To Date" })
            }
                <span class="add-on"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        
                        <div class="col-lg-2">
            <div class="controls">
                @if (ViewBag.EmployeesList != null)
                {   
                    
                     @Html.DropDownList("ddlIsStatus", new List<SelectListItem>
                { 
                    new SelectListItem { Text = "Approved", Value = "true"},
                    new SelectListItem { Text = "Rejected", Value = "false" },  
                    new SelectListItem { Text = "Pending", Value = "pending" }
                }, "Leave Status", new { @class = "form-control", @id = "ddlIsStatus", @Title = "Leave Status" })
                    

                }
            </div>
        </div>

        <div class="col-lg-2  ">
            <a href="#" id="btnSubmit" class="col-lg-12 col-md-12 frm-src-fld  "><i class="fa"></i>
                Get Records</a> <span style="color: Red; font-size: small" id="errMessage"></span>
        </div>
    </div>
</div>

      


<div class="content-cont col-lg-12 col-md-12 no-padding" id="test">


    <div class=" container-fluid emp-exd-frm margin-20 p-b-20">


    <div class="grid-hd col-lg-12 col-md-12 col-sm-12 grid-headding">
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="LeaveTitle" ><i class="fa fa-bar-chart"></i> Leave Reports
              
                </div>
                </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <div class="col-lg-10 col-md-3 emp-exp-dt">
                    @if (Model.Count != 0)
                    {
                        
                         <a href="#" id="btnExport3"><img src="~/Content/Images/pdfdownload.png" alt="Download Excel" title="PDF Download" height="42" width="42"></a>
                                  
                    }
                    <div class="clearfix">
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 emp-exp-dt">
                            @if (Model.Count != 0)
                            {
                               
                                  <a href="#" id="btnExportExcel3" onClick="javascript:fnExcelReport3();"><img src="~/Content/Images/exceldownload.png" alt="Download Excel" title="Excel Download" height="42" width="42"></a>
                            }
            
            <div class="clearfix">
            </div>
            </div>
            </div>


             </div>

             



    <div id="Heading1" style="text-align: center; font-weight: bold; font-size: 25px;
                color: #333645; display: none;">


                   Leave Report
             
                </div>

                <div id="Heading" style="display: none; float: left; font-weight: bold; color: #333645;">
                <span>Universal Surgicals</span>
                <div class="clearfix">
                </div>
                <span>15-15-57/3, 3/2, Prince Appartments</span>
                <div class="clearfix">
                </div>
                <span>Beach Road, Visakhapantam</span>
            </div>

            <div style="float: left; display: none;" id="ExcelLogo">
                <img src= "@Url.Content("~/Content/Images/login-logo.png")" alt="IMAGES" />
            </div>

    <div id="divF" style="display: none; font-weight: bold; color: #333645;">
     <div id="divlogoEXCEL1"></div>

            
            From Date:
                <label>@ViewBag.FromDate</label>
                <div class="clearfix"></div>
            To Date:
                <label>@ViewBag.ToDate</label>
        </div>

        <div class="table-responsive" id="normallist3">
        
        @if (Model.Count > 0)
        {
            <table class="table no-more-tables col-lg-12  table-color">
                <thead>
                    <tr class="grid-headding-strips">
                    <th class="col-lg-1 col-md-1 text-center">Employee ID</th>
                        <th class="col-lg-1 col-md-1 text-center">Zone Name</th>
                                               
                         <th class="col-lg-1 col-md-1 text-center">Employee Name</th>

                         <th class="col-lg-1 col-md-1 text-center">Leave From</th>

                         <th class="col-lg-1 col-md-1 text-center">Leave To</th>

                         <th class="col-lg-1 col-md-1 text-center">Status</th>
      
              
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
    <tr>
                            <td class="v-align-middle text-center">@item.EmpUserID</td>
                                <td class="v-align-middle text-center">@item.ZoneName</td>
                                <td class="v-align-middle text-center">@item.EMPFullName</td>
                                <td class="v-align-middle text-center">@item.LeaveFrom.Value.ToString("dd'/'MM'/'yyyy")</td>
                                <td class="v-align-middle text-center">@item.LeaveTo.Value.ToString("dd'/'MM'/'yyyy")</td>
                                @if (@item.LeaveStatus == null)
                                {
                                <td class="v-align-middle text-center">Pending</td>
                                }
                                else if (@item.LeaveStatus == true)
                                {
                                     <td class="v-align-middle text-center">Approved</td>
                                }
                                else if (@item.LeaveStatus == false)
                                {
                                      <td class="v-align-middle text-center">Rejected</td>
                                }
                         </tr>
                    }


                </tbody>
            </table>
        }
        else
        {
            <br />
             <div class="col-lg-12 col-md-12 m-t-20 m-l-20 norecordsfound">
            <img src="~/Content/Images/norecordfound.jpg" alt="No Records Found" title="No Records Found">
            </div>
        }
   </div>
</div>



<!--[if lt IE 10]>
    <script type="text/javascript">
        $(function () {
            // Invoke the plugin
            $('input, textarea').placeholder({ customClass: 'my-placeholder' });
        });
    </script>
<![endif]-->
<script type="text/javascript">
    function fnExcelReport3() {
        var Zone = $("#ddlZone").val();
        var Employee = $("#ddlEmployee").val();
        var SDate = $("#FromDate").val();
        var EDate = $("#ToDate").val();
        var Status = $("#ddlIsStatus").val();


        $("#divF").show();
//        $("#divF").css("text-align", "right"); 
        $("#divlogoEXCEL1").append("<img src='http://universal.globaldatasolutions.com/Content/Images/login-logo.png'/><br/><br/><br/><br/><br/><br/><b>Universal Surgicals</b><br/><b>15-15-57/3, 3/2, Prince Appartments<br/></b></br>");
        var contents = $("#divF").html() + $("#normallist3").html();

        var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

        tab_text = tab_text + '<x:Name>Leave Reports</x:Name>';

        tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';

        //            tab_text = tab_text + "<table border='1px'>";
        tab_text = tab_text + contents;
        tab_text = tab_text + '</body></html>';

        var data_type = 'data:application/vnd.ms-excel';

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            if (window.navigator.msSaveBlob) {
                var blob = new Blob([tab_text], {
                    type: "application/csv;charset=utf-8;"
                });
                navigator.msSaveBlob(blob, 'leavereports.xls');
            }
        } else {
            $('#btnExportExcel3').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
            $('#btnExportExcel3').attr('download', 'leavereports.xls');
        }
        $('#Heading').hide();
        $('#divlogoEXCEL1').empty();
        $('#divF').hide();
        $('#ExcelLogo').hide();
        $('#Heading1').css("text-align", "left");
        $('#Heading1').css("font-weight", "normal");
        $('#btnExportExcel3').show();
        $('#btnExport3').show();
    }
    $(document).ready(function () {
        $(this).scrollTop(0);
        $.validator.addMethod("date", function (value, element) {
            if (value != "") {
                return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
            }
            else {

                return true;
            }
        },
        "Please enter a date in the format dd/mm/yyyy."
        );
        $('#FromDate,#ToDate').datepicker().on('changeDate', function (ev) {
            ev.preventDefault();
            $(this).datepicker('hide');
        });


        var statusval = '@(ViewBag.StatusDL)';
        //        alert(statuvval);
        var dd = document.getElementById('ddlIsStatus');
        for (var i = 0; i < dd.options.length; i++) {
            if (dd.options[i].value === statusval) {
                dd.selectedIndex = i;
                break;
            }
        }

        

        $("#btnExport3").click(function (e) {
            $('#Heading').show();
            $('#Heading1').show();
            $('#divF').show();
            $('#ExcelLogo').show();
            $('#btnExport3').hide();
            $("#LeaveTitle").hide();
            $('#btnExportExcel3').hide();
            var contents = $("#test").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
            $('#Heading').hide();
            $('#divF').hide();
            $('#ExcelLogo').hide();
            $('#Heading1').hide();
            $('#btnExport3').show();
            $('#btnExportExcel3').show();
            $("#LeaveTitle").show();

        });


        $('#btnSubmit').click(function (e) {
            e.preventDefault();
            $("#errMessage").hide();
            $("#errMessage").text('');
            var Zone = $("#ddlZone").val();
            var Employee = $("#ddlEmployee").val();
            var SDate = $("#FromDate").val();
            var EDate = $("#ToDate").val();
            var Status = $("#ddlIsStatus").val();
            if (SDate.length > 0 && EDate.length > 0) {
                if ($.datepicker.parseDate("dd/mm/yy", SDate) <= $.datepicker.parseDate("dd/mm/yy", EDate)) {
                    $.ajax({
                        url: '/Admin/LeaveReports',
                        type: "GET",
                        cache: false,
                        data: { Zone: Zone, Employee: Employee, SDate: SDate, EDate: EDate, Status: Status },
                        success: function (data) {
                            $("#divPartial").html('');
                            $("#divPartial").html(data);
                        },
                        error: function (event, jqxhr, settings, exception) {
                            alert(exception);
                        }
                    });
                }
                else {
                    $("#errMessage").text('');
                    $("#errMessage").show();


                    $("#errMessage").text("Please select From Date less than Todate");
                }
            }
            else {
                $("#errMessage").text('');
                $("#errMessage").show();
                $("#errMessage").text("Please select From and To dates");
            }

        });

    });

</script>